.nav {
  background:#373632;
  display: flex;
  width: 100%;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  justify-content: space-between;
}
.ul-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  line-height: 10px;
}
.ul-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.logo {
  margin-left: 220px;
  padding: 0;
  margin-top: 12px;
}

.button:hover {
    background-color: #0d6efd;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
}
.login {
  background: #dc3545;
}
.login a:hover {
  color: #fff;
}
.register {
  border: solid 1px
}
.register:hover {
  background: #fff;
}
.ul-nav li {
  margin-left: 10px;
}
.comander a:hover {
  border-bottom: solid #dc3545 1px;
  color: #fff;
}
.register a:hover {
  color: #000;
}
